@media (min-width: 1024px) and (max-width: 1919px) {
    .navContainer {
        width: 100%;
        height: 60px;
    }
    .navLogo {
        height: 60%;
    }

    .navLogo img {
        height: 100%;
    }

}

@media (min-width: 768px) and (max-width: 1023px) {
    .navContainer {
        width: 100%;
        height: 50px;
    }
    .navLogo {
        height: 60%;
    }

    .navLogo img {
        height: 100%;
    }

    .menuList {
        font-size: 10px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .navContainer {
        width: 100%;
        height: 30px;
    }

    .navContainer div {
        justify-content: space-between;
    }

    .navLogo {
        height: 60%;
        margin-left: 20px;
    }

    .navLogo img {
        height: 100%;
    }

    .navList {
        display: none;
    }

    .navIcon {
        display: none;
    }

    .menu {
        display: block;
        margin-right: 20px;
    }

}